OWM_KEY=
WATTTIME_USERNAME=
WATTTIME_PASSWORD=
ENTSOE_SECURITY_TOKEN=
ENTSOE_ENDPOINT_URL=https://web-api.tp.entsoe.eu/api
ELECTRICITYMAPS_API_TOKEN=
ELECTRICITYMAPS_BASE_URL=https://api.electricitymaps.com/v3
SUPABASE_URL=
SUPABASE_ANON_KEY=